/target
/build

/frontend/dist
/frontend/node_modules
/frontend/src/generated
/frontend/tsconfig.tsbuildinfo

/frontend/tests/__pycache__
/frontend/tests/.cache
/frontend/tests/.pytest_cache
/frontend/tests/.tmp
/frontend/tests/.venv
/frontend/tests/test-results

/marketing/screenshots

.devenv*
devenv.local.nix
devenv.local.yaml
.direnv
.pre-commit-config.yaml

*.cdx.json
